html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
}


header, footer {
    width: 100%;
    background-color: #3640c9;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(23, 151, 123);
}

section {
    /* flex: 1; */
    margin: 18px;
    padding: 20px;
    background-color: #e6bf6c;
    border-radius: 10px;
}

.sec-1{
    width: 20%;
}

.sec-2{
    width: 60%;
}
.sec-3{
    width: 20%;
}



.blog-img{
    display: flex;
    flex-direction: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}


.item-1 {
    width: 50%;
   
}

.item-2 {
    width: 50%;
    
}

.item-3 {
    width: 50%;
   
}



img{
    width: 100%;
    height: 100%;
    
}

.foto-noti{
    width: 100%;
    height: 100%;

}


h2, h3{
    text-align: center;
}

p{
    text-align: justify;
    font-size: 14px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;

}

.texto-justificado{
    text-align: justify;
}


.blog-img {
    display: flex;
    justify-content: center; /* Centra las im치genes */
    gap: 10px;
    margin-bottom: 20px;
}


h2, h3 {
    text-align: center;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.texto-justificado {
    text-align: justify;
}

.imgmov {
    transition: transform 0.3s;
}

.imgmov:hover{
    transform: scale(1.1);
}


/* 游댳 Media Query para pantallas de 700px o menos */
@media (max-width: 750px) {

    header, footer{
        background-color: #bb2d5c;
    }

    .sec-1{
        width: 70%;
    }
    
    .sec-2{
        width: 70%;
    }
    .sec-3{
        width: 70%;
    }

    p{
        font-size: 12px;
    }
    
    

    main {
        flex-direction: column; /* Cambia a dise침o en columna */
        align-items: center;
        background-color: rgb(220, 120, 230);
    }

    section {
        background-color: rgb(159, 236, 211);
    }

    .blog-img {
        flex-direction: column; /* Apila las im치genes en vez de alinearlas en fila */
        align-items: center;
    }

    .item-1, .item-2, .item-3 {
        width: 100%; /* Hace que las im치genes ocupen todo el ancho */
    }

    img {
        width: 100%; /* Ajusta las im치genes al ancho del contenedor */
        height: auto; /* Mantiene la proporci칩n */
    }

    .foto-noti{
        width: 100%;
        height: auto;
    }
    
    
}
